{deps, [
     {cowboy,    "0.6.*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
    {lager, ".*", {git, "https://github.com/basho/lager", ""}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb", ""}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "e9dfab5aec"}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc"}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.